language: java
jdk:
- oraclejdk8
after_success:
  - mvn clean test jacoco:report coveralls:report
notifications:
  slack:
    secure: uFtTdqnzXVHLPWPhvVAYwQq8z5lW1k923eXS/nPQ+x6ZjiEJy4aaFRRbUfbZG7sq6Z9YrtsAag8yPExUYl3JawfaFCwa5yUPdSljWECk6easwKnCAyyJbvpISvpeqguZemjh4Jss4NimTkkBg3mUN8w8J/N3/WnMqONp2BrQgecaBOr+PKzNDfR6MY72+bxJrIWTaRmdEVfrTF0RSzEVJYNdgJIseH8IX8K+pvVgpgeI5kBV3+K1ddy6cR2Xg1KzVHzW47pfV4Tg/bPkaigpLA6w2i6zbp0cIz73VDWHgLurUePA5l9fmr+dINcdYF0kApdtTEuJfqeHxAOvr/n7qGrbPQ6zGfV04v3t4nnUdPJkT0hnWtPJd6dLFNaJy4nWZGW2GvG1SuYJtqiZlqMdXka9ZztJVI/9TfeFGdV3i/HmtFGfhP1xc9M4a8nHoAIsaPPe3ygZaZE2QzkmkR6murPRKQQYzqT0AOjZcRLYVxV9byK/1Slv7FbpVO5n/ndqogzmYf+tM++eRzZMDHxYYeSiv73QwAa68Zm8BsyKdJG3Fx7KHqSsW+WMLp6RoQKyeZzjReUTaItdNj6Z04Gl8tBd0TNuG7emJ7aun72IA/2S/mQKjXuZOJWX9RhFFMLTOQ+mg/jrTQ6vvPl6SxWfByfTKrPhxTgrKKjnQlNA98E=
