### BASE ###
logging:
    file: target/bookshop.log


### WEB ###
validation:
    resolveErrorCodes: false

i18n:
    flagTemplateUrl: http://${APPLICATION_HOSTNAME:localhost}:8080/assets/{locale}_flag.png
    resourcePath: /i18n

server:
    contextPath: /bookshop
#    ssl:
#        enabled: true
#        key-alias: tomcat
#        key-store: classpath:keystore/keystore.jks
#        key-store-password: ${KEYSTORE_PASSWORD:changeit}

### PERSISTENCE ###
liquibase:
    changelog: classpath:config/liquibase/master.xml
    contexts: production

jdbc:
    driverClassName: com.mysql.jdbc.Driver
    url: jdbc:mysql://${JDBC_DATABASE_HOSTNAME:localhost}:${JDBC_DATABASE_PORT:3306}/bookshop?createDatabaseIfNotExist=false&tinyInt1isBit=false&useSSL=false
    user: bookshop
    pass: bookshop

hibernate:
    dialect: org.hibernate.dialect.MySQL5Dialect
    show_sql: false
    hbm2ddl:
        auto: validate

### SECURITY ###     
jwt:
  header: Authorization
  secret: mySecret
  expiration: 604800
  issuer: lucci.io
  route:
    authentication:
      path: auth
      refresh: refresh

security:
    authorities:
        ROLE_USER: BOOKS_GET,BOOKS_GET_DETAIL,USER_GET
        ROLE_ADMIN: BOOKS_GET,BOOKS_GET_DETAIL,USER_GET,BOOKS_ADD
