### BASE ###
logging:
    file: target/bookshop.log


### WEB ###
validation:
    resolveErrorCodes: false

i18n:
    flagTemplateUrl: http://${APPLICATION_HOSTNAME:localhost}:8080/assets/{locale}_flag.png
    resourcePath: /i18n

server:
    contextPath: /bookshop


### PERSISTENCE ###
liquibase:
    changelog: classpath:config/liquibase/master.xml
    contexts: production

jdbc:
    driverClassName: com.mysql.jdbc.Driver
    url: jdbc:mysql://${JDBC_DATABASE_HOSTNAME:localhost}:3306/bookshop?createDatabaseIfNotExist=false&tinyInt1isBit=false
    user: bookshop
    pass: bookshop

hibernate:
    dialect: org.hibernate.dialect.MySQL5Dialect
    show_sql: false
    hbm2ddl:
        auto: none
        